@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Online Loan</h1>
    <p>Open a book and let yourself go. A new world you will find so.</p>
    <div>
       <img src="img/book.png"/>
    </div>
</div>
